:root {
    --ColorNegro: #000000dd;
    --ColorGris: #676464dd;
  }
  

/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

.container {
    display: flex;
    margin: 3rem;
    width: 50%;
    box-shadow: 0 4px 8px rgba(5, 1, 5, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}

.items {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 50%;
    margin-bottom: 1rem;
}

h1 {
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

button {
    color: #ffffff;
    margin: 1rem;
    background-color: #565454;
}

.message {
    font-size: bold;
    text-transform: uppercase;
    color: red;
}

